@media (max-width: 800px) {
  .nav {
    display: none;
  }

header > .container{
    height: 64px;
}

 .header__img {   
    margin: 17px auto;
  }

  .header__img > img{
      height: 38px;
  }

  .container {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin-left: 48px;
    margin-right: 14px;
}

  .main {
    border-radius: 0;
    height: 150vh;
  } 

  .main__image-container {
    width: 100%;
    margin-top: 24px;
  }

  .main__image{
      width: 100%;
  }

  .main__text-field{
      display: flex;
      flex-direction: column;
  }

  .main__restangle{
    transform: scale(-1, 1);
    right: 16px;
    bottom: 100vh;
  }

  .indentity{
      height: 100vh;
  }

  .indentity h2 {
      font-size: 32px;
      line-height: 41px;
  }

  .indentity__cube{
      display: none;
  }

  .indentity__form{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0;
  }

  .indentity__form > br{
      display: none;
  }

  .chckbox{
      display: none;
  }
  .form__btn-submit{
      width: 100%;
      margin: 0 !important;
  }

  .form__items{
      width: 100%;
      margin-top: 40px;
      margin-bottom: 0;
  }

  .form-input{
      width: 100%;
  }

  .form-label{
    margin: 0 auto;
  }

  .form__add-document{
      height: 100%;
  }

  .form__items-add-document{
      display: flex;
      flex-direction: column;
      margin: 27px auto;
      width: 212px;
      text-align: center;
  }

  .indentity__form :nth-child(5){
      display: none;
  }
}
