* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f8f3ff;
}

.container {
  margin-left: 64px;
  max-width: 80%;
}

/* Header */

header {
  width: 100%;
}

header > .container {
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  list-style-type: none;
}

.nav ul li a {
  text-decoration: none;
  color: #8e43ed;
  margin: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav {
  width: 359px;
}

/* Main */

.main {
  width: 100%;
  height: 300px;
  background-color: #fff;
  height: 800px;
  position: relative;
  border-top-left-radius: 350px 230px;
  border-bottom-right-radius: 230px 350px;
}

.main > .container {
  display: flex;
  align-items: center;
}

.main__title {
  font-weight: 800;
  margin-bottom: 24px;
  color: #303030;
}

.main__text-title {
  font-size: 56px;
  line-height: 72px;
}

.main__text-fields {
  display: flex;
  margin-bottom: 64px;
}

.main__text-field {
  display: flex;
  margin-right: 32px;
}

.main__text-data-name {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #aa7ecd;
  margin-right: 8px;
}

.main__text-data {
  height: 21px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.main__image-container {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 32px;
}

.main__image {
  max-height: 75%;
}

.main__about-titile {
  font-weight: 800;
  font-size: 27px;
  line-height: 36px;
}

.main__about-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.main__restangle {
  position: absolute;
  bottom: 45px;
  left: 15px;
}

.main__rectangle-violet {
  height: 69px;
  width: 69px;
  border-radius: 16px;
  transform: rotate(-111.94deg);
  background-color: #8e43ed;
  margin-bottom: 20px;
}

.main__rectangle-pink {
  width: 120px;
  height: 120px;
  border-radius: 24px;
  background-color: #f18bc3;
  transform: rotate(128.05deg);
  margin-left: 15px;
}

/* Indentity */

.indentity {
  height: 750px;
  position: relative;
}

.indentity h2 {
  margin-top: 56px;
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 40px;
  line-height: 72px;
}

.indentity__form {
  width: 976px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;
}

.form__items {
  display: flex;
  flex-direction: column;
}

.form-input {
  width: 304px;
  height: 56px;
  border: 1px solid #8e43ed;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 16px;
}

.form__document-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  margin-top: 10px;
}

.form__file-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 256px;
  height: 56px;
  border: 1px solid #8e43ed;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 16px;
}

.form__file-input-text {
  display: flex;

  flex-direction: column;
}

.form__file-input-basket {
  background: url("../img/crt/cart.png") center/100% no-repeat;
  width: 10px;
  height: 20px;
  cursor: pointer;
}

.form-input::placeholder {
  color: #000;
}

.form-label {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #303030;
  margin-bottom: 8px;
}

.form__add-document {
  margin-top: 56px;
  height: 104px;
  width: 100%;
  background-color: #fff;
  border: 1px dashed #d9bbff;
  border-radius: 12px;
}

.form__items-add-document {
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input__label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e43ed;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.input__file__button {
  display: none;
}

.label-left {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #9993bd;
  margin: 0 16px 0 0;
}

.form__document-display {
  margin-bottom: 48px;
}

.form__items-submit {
  display: flex;
}

.form__btn-submit {
  background: #ded9e4;
  border-radius: 12px;
  width: 212px;
  height: 56px;
  color: #fff;
  border: #ded9e4;
  cursor: pointer;
}

.chckbox {
  padding: auto;
  display: flex;
  align-items: center;
  user-select: none;
}

.checkbox-submit-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #303030;
  padding-left: 38px;
  position: absolute;
  z-index: 100;
  cursor: pointer;
}

.submit__checkbox {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.chkbox input:checked ~ .fake__checkbox {
  border-color: #e1fee8;
  box-shadow: 0px 0px 0px 15px #e1fee8 inset;
}

.chckbox input:checked ~ .fake__checkbox::after {
  opacity: 1;
  transform: scale(1);
}

.chckbox .fake__checkbox {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 100px;
  background: #e1fee8;
  box-shadow: 0px 0px 0px 15px #e1fee8 inset;
  transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);
}

.chckbox .fake__checkbox::after {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 4;
  position: absolute;
  transform: scale(0);
  background: url("../img/crt/checkbox.png") center/50% no-repeat;
  transition-delay: 0.2s !important;
  transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
}

.indentity__cube {
  z-index: -1;
  position: absolute;
  top: 0;
  height: 220px;
  width: 124px;
}

.cube {
  position: absolute;
  background: #f2e9ff;
  border-radius: 32px;
}

.top__cube {
  top: 71px;
  left: -30px;
  width: 168px;
  height: 168px;
  transform: matrix(-0.97, 0.26, 0.26, 0.97, 0, 0);
}

.middle__cube{
  top: 189px;
  left: 173px;
  height: 117px;
  width: 117px;
  transform: matrix(-0.67, 0.74, 0.74, 0.67, 0, 0);
}

.bottom__cube{
  top: 327px;
  left: -100px;
  height: 294px;
  width: 294px;
  transform: matrix(-0.87, 0.5, 0.5, 0.87, 0, 0);
}

.indentity__cube-right{
  top: 47px;
  transform: scale(-1, 1);
  right: 0;
}

/* Slider */

.slider {
  background-color: #fff;
  padding: 56px;
}

.slider__content-photo {
  width: 255vw;
  position: relative;
  left: 0;
  transition: left 0.3s ease-in-out;
}

.content {
  float: left;
  width: 85vw;
  height: 535px;
  word-spacing: normal;
  background-repeat: no-repeat;
  border-radius: 32px;
  color: #fff;
}

.item-one {
  background: url("../img/slider/slider-1.png") center/100% no-repeat;
}

.item-two {
  background: url("../img/slider/slider-2.png") center/100% no-repeat;
}

.item-three {
  background: url("../img/slider/slider-3.png") center/100% no-repeat;
}

.slider__content-t {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.slider__item-title {
  font-weight: 800;
  font-size: 56px;
  line-height: 72px;
  margin-bottom: 16px;
}

.slider__item-text {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  width: 40%;
}

.slider__content {
  position: relative;
  width: 85vw;
  height: 535px;
  overflow: hidden;
  margin: 0 auto;
}

.slider__content-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 80vw;
  height: 100px;
}

.slider__content-nav ul {
  position: absolute;
  bottom: 20px;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-top: 6px;
}

.slider__content-nav ul li {
  position: relative;
  float: left;
  text-align: center;
  margin: 10px;
  list-style: none;
  cursor: pointer;
  background: transparent;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.slider__content-nav ul li.active {
  background-color: #fff;
  outline-width: 7px;
}

.slider__content-nav ul li.active:hover {
  background-color: #484848;
  color: #fff;
}

.slider__arrows {
  position: absolute;
  height: 535px;
  width: 85vw;
  left: 0;
  top: 0;
}

.slider__arrow {
  width: 15px;
  height: 30px;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  cursor: pointer;
  background: url("../img/slider/arrow.png") center/100% no-repeat;
}

.slider__left-arrow {
  left: 50px;
}

.slider__right-arrow {
  right: 50px;
  transform: rotate(180deg);
}
