* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f8f3ff;
}

.container {
  margin-left: 64px;
  max-width: 80%;
}

/* Header */

header {
  width: 100%;
}

header > .container {
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  list-style-type: none;
}

.nav ul li a {
  text-decoration: none;
  color: #8e43ed;
  margin: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav {
  width: 359px;
}

/* Main */

.main {
  width: 100%;
  height: 300px;
  background-color: #fff;
  height: 800px;
  position: relative;
  border-top-left-radius: 350px 230px;
  border-bottom-right-radius: 230px 350px;
}

.main > .container {
  display: flex;
  align-items: center;
}

.main__title {
  font-weight: 800;
  margin-bottom: 24px;
  color: #303030;
}

.main__text-title {
  font-size: 56px;
  line-height: 72px;
}

.main__text-fields {
  display: flex;
  margin-bottom: 64px;
}

.main__text-field {
  display: flex;
  margin-right: 32px;
}

.main__text-data-name {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #aa7ecd;
  margin-right: 8px;
}

.main__text-data {
  height: 21px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.main__image-container {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 32px;
}

.main__image {
  max-height: 75%;
}

.main__about-titile {
  font-weight: 800;
  font-size: 27px;
  line-height: 36px;
}

.main__about-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.main__restangle {
  position: absolute;
  bottom: 45px;
  left: 15px;
}

.main__rectangle-violet {
  height: 69px;
  width: 69px;
  border-radius: 16px;
  transform: rotate(-111.94deg);
  background-color: #8e43ed;
  margin-bottom: 20px;
}

.main__rectangle-pink {
  width: 120px;
  height: 120px;
  border-radius: 24px;
  background-color: #f18bc3;
  transform: rotate(128.05deg);
  margin-left: 15px;
}

/* Indentity */

.indentity {
  height: 750px;
}

.indentity h2 {
  margin-top: 56px;
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 40px;
  line-height: 72px;
}

.indentity__form {
  width: 976px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;
}

.form__items {
  display: flex;
  flex-direction: column;
}

.form-input {
  width: 304px;
  height: 56px;
  border: 1px solid #8e43ed;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 16px;
}

.form-input::placeholder {
  color: #000;
}

.form-label {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #303030;
  margin-bottom: 8px;
}

.form__add-document {
  margin-top: 56px;
  height: 104px;
  width: 100%;
  background-color: #fff;
  border: 1px dashed #d9bbff;
  border-radius: 12px;
}

.form__items-add-document {
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.label-left {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #9993bd;
  margin-right: 16px;
}

.form__btn-submit {
  background: #ded9e4;
  border-radius: 12px;
  width: 212px;
  height: 56px;
  color: #fff;
  border: #ded9e4;
  margin-top: 112px;
}

.form__btn-submit:hover {
  cursor: pointer;
}


.form__checkbox-submit-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #303030;
}

/* Slider */

.slider{
  background-color: #fff;
  padding: 56px;
}

.slider__content-photo {
  width: 255vw;
  position: relative;
  left: 0;
  transition: left 0.3s ease-in-out;
}

.content {
  float: left;
  width: 85vw;
  height: 535px;  
  word-spacing: normal;
  background-repeat: no-repeat;
  border-radius: 32px;
}

.item-one {
  background: url("../img/slider/slider-1.png") center/100% no-repeat;
}

.item-two {
  background: url("../img/slider/slider-2.png") center/100% no-repeat;
}

.item-three {
  background: url("../img/slider/slider-3.png") center/100% no-repeat;
}

.slider__content {
  position: relative;
  width: 85vw;
  height: 70vh;
  overflow: hidden;
  margin: 0 auto;
}

.slider__content-nav{
  text-align: center;
  width: 85vw;
}

.slider__content-nav ul{
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-top: 6px;
}

.slider__content-nav ul li{
  position: relative;
  top: -10vh;
  float: left;
  text-align: center;
  margin: 10px;
  list-style: none;
  cursor: pointer;
  background: transparent;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.slider__content-nav ul li.active{
  background-color: #fff; 
  outline-width: 7px;
}

.slider__content-nav ul li.active:hover{
  background-color: #484848;
  color: #fff;
}

.slider__arrow{
  width: 15px;
  height: 30px;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  cursor: pointer;
  background: url("../img/slider/arrow.png") center/100% no-repeat; 
}


.slider__left-arrow{  
  left: 50px;
}


.slider__right-arrow{  
  right: 50px;
  transform: rotate(180deg);
}